<template>
  <div class="about">
    <h1 v-cypress>This is an about page</h1>
  </div>
</template>



<script>
import { cypressMixin } from "../cypressMixin";

export default {
  mixins: [cypressMixin],
  name: "About",
};
</script>