<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png" />
    <HelloWorld msg="Welcome to Your Vue.js App" />
    <form>
      <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" id="email" v-cypress />
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" />
      </div>
      <div class="checkbox" v-cypress>
        <label>
          <input type="checkbox" /> Remember me
        </label>
      </div>
      <Cyprys v-cypress />
    </form>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from "@/components/HelloWorld.vue";
import Cyprys from "@/components/Cyprys.vue";

import { cypressMixin } from "../cypressMixin";

export default {
  mixins: [cypressMixin],
  name: "Home",
  // directives: {
  //   cypress: {
  //     inserted: function (el, binding, vnode) {
  //       const { value, arg } = binding;
  //       el;
  //       console.log(vnode.context);
  //       console.log(el);
  //       const war = "wartosc";
  //       el.setAttribute("data-cy", war);
  //     },
  //   },
  // },
  components: {
    HelloWorld,
    Cyprys,
  },
};
</script>
